<p id="notice"><%= notice %></p> 

<%= image_tag @gif.image_url %>
  <strong><p>uploaded by <%= @gif.user.email%></p></strong>

<%=linked_tag_list @gif %>

<% if user_signed_in? && current_user == @gif.user %>
<%= link_to 'Edit', edit_gif_path(@gif) if user_signed_in? && current_user == @gif.user %> |
<% end %>


